.l-side
  .l-side__list.active
    = icon('fas', 'chart-line')
    トレンド
  .l-side__list
    = icon('fas', 'list-ul')
    タイムライン
  .l-side__list
    = icon('fas', 'tags')
    タグフィード
  .l-side__list
    = icon('fas', 'flag-checkered')
    マイルストーン
