.l-side {
  width: 200px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  &__list {
    width: 200px;
    padding-left: 16px;
    padding: 8px;
    margin-bottom: 8px;
    color: #888;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      background: #f0f0f0	;
    }
  }
  .active {
    font-weight: 400;
    color: #fff;
    background-color: #55c500;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
