@import "./reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'modules/header';

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}


.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 20px 10%;
  
}

.l-side {
  width: 200px;
  height: 300px;
  background: #ccc;
}

.main {
  flex-grow: 1;
  height: 1100px; 
  background: blue;

}

.r-side {
  width: 300px;
  margin-left: 16px;
  &__ad {
    height: 250px;
    background: #008b8b;
    margin-bottom: 16px;
  }
  &__reco {
    height: 400px;
    background: #004dbe;
    margin-bottom: 16px;
  }
  &__u-ranking {
    height: 300px;
    background: #007f25;
    margin-bottom: 16px;
  }
  &__t-ranking {
    height: 300px;
    background: #007f25;
    margin-bottom: 16px;
  }
  &__o-ranking {
    height: 300px;
    background: #007f25;
    margin-bottom: 16px;
  }
  &__sponsor {
    height: 300px;
    background: #007f25;
  }
}