= render "shared/header"

.wrapper
  = render "shared/l-side"
  = render "shared/main"
  


  .r-side
    .ranking
      .ranking__text
        .ranking__text--title
        .ranking__text--period
      .ranking__list
        = icon('fas', 'trophy')
        .ranking__list--icon
        .ranking__list--name
        .ranking__list--icon
        .ranking__list--icon 


.footer
  .footer__left
  .footer__right