.header
  .header__contents
    .left
      .left__logo
        = image_tag 'logo2.jpg'
      .left__icon
        = icon('fas', 'caret-down')
      .left__home 
        ホーム
        = icon('fas', 'caret-down')
      .left__community 
        コミュニティ
        = icon('fas', 'caret-down')

    .right

.wrapper
  .l-side

  .main

  .r-side
    .r-side__ad
    .r-side__reco
    .r-side__u-ranking
    .r-side__t-ranking
    .r-side__o-ranking
    .r-side__sponsor


.footer
  .footer__left
  .footer__right