.header
  .left


  .right

.wrapper
  .l-side

  .main

  .r-side
    .r-side__ad
    .r-side__reco
    .r-side__u-ranking
    .r-side__t-ranking
    .r-side__o-ranking
    .r-side__sponsor


.footer
  .footer__left
  .footer__right